@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: sans-serif;
}

.home{
  background-image: url(images/pexels-cytonn-955395.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.line{
  background-color: black;
  width: 80%;
  height: 1px;
}

nav{
  background-image: linear-gradient(to top, rgba(0, 128, 0, 0.750), rgba(0, 128, 0, 0.650), rgba(0, 128, 0, 0.550), rgba(0, 128, 0, 0));
}